@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

:root {
	--success-color: green;
	--error-color: red;
}
* {
	box-sizing: border-box;
}

body {
	font-family: 'Galada', cursive;
	background-color: #40407a;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
}

.container {
	border-radius: 5px;
	box-shadow: 5px 10px 1px #aaa69d;
	width: 400px;
}

.form {
	background-color: #f7f1e3;
	padding: 20px 20px;
}

h2 {
	text-align: center;
	margin: 0 0 20px;
}

form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

form-control label {
	display: block;
}

form-control input {
	display: block;
	border: 2px solid #84817a;
	border-radius: 5px;
	padding: 10px;
	font-size: 14px;
	width: 100%;
	margin-top: 5px;
}
form-control input:focus {
	outline: 0;
	border-color: #2c2c54;
}

form-control.error input {
	border-color: var(--error-color);
}

form-control.success input {
	border-color: var(--success-color);
}

form-control small {
	color: red;
	visibility: hidden;
}
form-control.error small {
	visibility: visible;
}

button {
	display: block;
	cursor: pointer;
	background-color: #706fd3;
	padding: 20px;
	width: 100%;
	margin-top: 20px;
	border-radius: 5px;
	color: #f7f1e3;
	font-size: 20px;
	border: 2px solid #474787;
	box-shadow: 1px 2px 0px #474787;
}
